body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin: 0px 15px; */
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 0px 14px;

}

.header-container ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-family: cursive;
}

.top-container {
    background-image: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNvbXB1dGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    height: 100vh;
    background-size: cover;

    display: flex;
    justify-content: center;
}
.top-container h2{
    text-align: center;
    margin: 20% 0px;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
.name{
    display: flex;
    justify-content: space-between;
}
.namestyle{
    border: 1px solid black;
}
.name-style{
    border: 1px solid black;
}